SpaceAfterCStyleCast: true
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: GNU
IndentCaseLabels: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ColumnLimit: 80
SortIncludes: true
BasedOnStyle: GNU
IndentGotoLabels: true
IndentCaseBlocks: true
