---
Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  modernize-*,
  readability-*,
  misc-*,

  cert-*,
  cppcoreguidelines-*,

  -modernize-use-auto,             
  -cppcoreguidelines-pro-type-vararg,

WarningsAsErrors: >
  'clang-analyzer-*','bugprone-*'

HeaderFilterRegex: '.*'             

CheckOptions:
  - key:             readability-function-size.LineThreshold
    value:           100
  - key:             readability-identifier-naming.VariableCase
    value:           lower_case
  - key:             readability-identifier-naming.FunctionCase
    value:           lower_case
  - key:             readability-identifier-naming.ConstantCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.PrivateMemberPrefix
    value:           ""

