SpaceAfterCStyleCast: true
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
IndentSwitchCase: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ColumnLimit: 80
SortIncludes: true
BasedOnStyle: GNU
