[Unit]
Description=freehttpd HTTP Server

[Service]
Type=notify
ExecStart=/home/rakinar2/Projects/freehttpd/src/freehttpd
KillMode=control-group
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=5
Restart=no

[Install]
WantedBy=default.target